@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, body{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ffeb3b38 !important;
}
h3, a, button, label{
    font-family: 'Poppins', sans-serif !important;
}
.header-top {
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%) !important;
}
.offcanvas-footer{
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%) !important;
}
.header-fixed.header-bottom-enabled .header{
    height: 70px;
}
.text-custom, i, label.user-name {
    color: #781e19 !important;
}
.master-admin-block{
    background-color: #ffeb3b38 !important;
    background-repeat: no-repeat;
    background-position: right bottom; 
    background-size: 30% auto; 
    background-image: url(../images/maskgroup/MaskGroup7.png);
}
.header-fixed.header-bottom-enabled .wrapper{
    padding-top: 100px;
}
h3.text-primary {
    color: #781e19!important;
}
.btn.btn-outline-primary {
    color: #781e19;
    background-color: transparent;
    border-color: #781e19;
}
.btn.btn-primary, .btn.btn-outline-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-outline-primary:focus:not(.btn-text), .btn.btn-outline-primary.focus:not(.btn-text) {
    color: #FFFFFF;
    background-color: #781e19;
    border-color: #781e19;
}
.form-group.row label {
    font-weight: 500;
}
body#kt_body .header-top{
    height: 35px;
}
.master-admin-block {
    width: 214px;
    height: 114px !important;
    background-size: 50px;
    background-color: #ffeb3b38;
}
.card.card-custom.bgi-no-repeat.gutter-b.card-stretch.master-admin-block {
    font-size: 18px;
    font-weight: 400;
}
.master-admin-block .card-body {
    padding: 7px 17px !important;
}
.fv-plugins-message-container {
    color: red;
}
.w-90 {
    width: 95% !Important;
    min-height: 500px;
}
.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
}
.loader_div {
    position: relative;
    margin: 0;
    height: 20vh;
    display: grid;
    place-content: center;
  }
  circle {
    transform-origin: center;
    transform-box: fill-box;
    transform-origin: center;
    animation: rotate linear infinite;
  }
  circle:nth-child(1) {
    animation-duration: 1.6s;
  }
  circle:nth-child(2) {
    animation-duration: 1.2s;
  }
  circle:nth-child(3) {
    animation-duration: 0.8s;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  svg {
    width: 100px;
    height: 100px;
  }
  .dataTables_empty {
      display: none;
  }
  
  .edit-icon{
      color:blue;
  }
  .delete-icon{
      color:red;
  } 
  .btn-div{
      text-align:center;
  }
  .form-btn{
      width: 30%;
  }

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}
    @media only screen and (max-width: 450px) {
			label.user-name {
			display: block;
		}
	}

.toast-top-right {
    top: 40px !important;
    right: 12px;
}
.doc-img-thumbnail {
    padding: 0;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    width: 32px;
    margin-top: 25px;
}
.action-btn-success{
	margin:5px;
	padding:5px;
	color:white;
	background-color:blue;
}
.action-btn-danger{
	margin:5px;
	padding:5px;
	color:white;
	background-color:red;
}
.nav.nav-pills .show > .nav-link, .nav.nav-pills .nav-link.active{
    color: #781e19;
    background: #fff;
    border-color: #781e19 !important;
}
.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text{
    color: #781e19;
    font-weight: 600;
    font-size: 14px;
}
.nav.nav-pills .show > .nav-link .nav-icon i, .nav.nav-pills .nav-link.active .nav-icon i{
    color: #781e19;
    font-size: 9px;
}
.nav.nav-pills .nav-link .nav-icon i{
    font-size: 9px;
}
.nav.nav-pills .nav-link .nav-text{
    font-weight: 600;
    font-size: 14px;
}
.menu-background{
    background:#f7f8fb;
}
.custom-menu-item {
    width: 368px;
    padding: 9px 0px 6px 0px;
    border-radius: 4px;
    margin-left: 15px;
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 600;
    background: #fff;
    box-shadow: 0px 0px 2px 0px #525252;
    text-align: center;
}
.custom-menu-item span {
    color: #504848;
}
.custom-menu-item:hover {
    box-shadow: 0px 0px 2px 1px #1854b1;
}
    .col-md-8.col-12.col-sm-12.menu-background{
    margin-left: 30px;
    margin-top: 0px;
    }
    
@media only screen and (max-width: 900px) {
        
.custom-menu-item {
    width: 90%;
    padding: 9px 0px 6px 0px;
    border-radius: 4px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    box-shadow: 0px 0px 2px 0px #525252;
    text-align: center;
}

    .col-md-8.col-12.col-sm-12.menu-background{
    margin-left: 0px;
    margin-top: 30px;
    }
}
.login-link-box {
    padding: 20px;
}
.login-link-box i, .login-link-box .card {
    background: #ffeb3b38;
    color: #781e19;
}
.login-link-box .card{
    border-radius: 18px;
    border: 1px solid #7baaf1;
}
.login-link-box .card-body {
    padding: 20px 10px 0px;
}
.noticebord{
    background-color:#fff9ef;
    min-height: 500px;
    color:
}
.noticebord .card-title {
    color: #3a3a3a;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}
.btn-custom-white {
    color: #781e19;
    background-color: #ffffff;
    border-color: #ffffff;
}
#kt_body #center .header-top {
    height: 50px;
}
#center .dropdown-menu.l-50{
left: -50px !important;
}
@media (max-width: 600px){
#center .dropdown-menu.l-50 {
    width: 50vw;
}
}

.card.card-custom > .card-header.bg-profile-header{
    background: #edf3fe;
}
.card-header.bg-profile-header .small{
font-size: 12px;
}
.profile .text-value {
    color: #781e19;
    font-size: 16px;
    font-weight: 500;
}
.profile .text-heading {
    font-size: 16px;
    font-weight: 500;
    color: #64686a;
}
#profile .bg-profile-header h3.text-heading {
font-size: 20px;
font-weight: 600;
color: #781e19;
}
.fas.text-primary{
color: #781e19 ! important;
}
.dropdown-item.active, .dropdown-item:active, .btn.btn-custom {
    color: #ffffff;
    background-color: #f5d75c;
    border-color: #fbc44f;
} 
.nav-item:hover{
    color: #761e19 !important;
}

.nav .show > .nav-link .nav-text, .nav .nav-link:hover:not(.disabled) .nav-text, .nav .nav-link.active .nav-text.nav-item:hover{
    color: #761e19 !important;
}
#kt_image_1.image-input .image-input-wrapper {
    width: 153px;
    height: 165px;
}

.Payment-complaint{
    background: #fdfdfd;
    margin-bottom: 47px;
    box-shadow: 1px 3px 5px beige;
}

.btn.btn-custom:hover{
    color: #ffffff;
    background-color: #edc831;
    border-color: #fbc44f;
    transition: 1s ease;
}
.message_detail{
    margin: 0 auto;
    width: 55%;
    height: 300px;
}
.details-bg{
    background: #fafafa;
    border: 1px solid #d3d3d3 !important;
    box-shadow: 1px 3px 5px 2px beige !important;
    padding: 5px 0px 19px 0px;
}

.input-div{
    background: #fafafa;
    padding: 50px;
    margin: 46px 0px 0px 0px;
}
.border-right-dashed {
    border-right:1px dashed #cdcdcd ;
}
.master-admin-block:hover {
    box-shadow: 1px 1px 5px 0px #771e18;
    cursor: pointer;
}
#student a.menu-link{
    background-color: transparent;
}
li.menu-item.menu-item-active span.menu-text{
    color: #771e18 !important;
    font-weight: 600 !important;
}
li.menu-item span.menu-text{
    color: #5b5b60 !important;
}
@media only screen and (min-width: 900px) {
    li.menu-item.menu-item-active span.menu-text{
        font-size: 14px;
        font-weight: 600;
    }
    li.menu-item span.menu-text {
    color: #5b5b60 !important;
    font-size: 14px !important;
    }
}

.header-buttons{
    z-index: 9999999;
    display: flex;
    align-items: center;   
}

@media only screen and (max-width: 991.98px) {
  div#kt_header_mobile{
    background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%) !important;
    } 
    .header-top {
        margin-top: -50px;
    }
}
    @media only screen and (max-width: 768px) {
        .img2 {
            width: 75%;
        }
        .card-body-main {
            padding: 24px 15px 10px 27px;
            border: none;
        }
        #kt_body #center .header-top{
            display: flex;
            align-items: center;
            height: 90px;
        }
        .header-top>div {
            position: relative;
            top: 40px;
        }
        .header-buttons{
            position: relative;
            bottom: 25px;
        }
    }